@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  width: 100%;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  color: #0000;
  background: linear-gradient(90deg, rgb(145, 174, 255) calc(50% + 0.5ch), #000 0) right/calc(200% + 1ch) 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: l7 2s infinite steps(11);
}
.loader:before {
  content: "Uploading...";
}
@keyframes l7 {
  to {
    background-position: left;
  }
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 10px;
  border: 1px solid #7c7c7c;
  height: 1em;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 10px;
  border: 1px solid #7c7c7c;
}
